{
  "extends": ["@antfu"],
  "ignorePatterns": ["**/*.html"],
  "rules": {
    "vue/first-attribute-linebreak": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/html-indent": "off"
  }
}