.DS_Store
.vite-ssg-dist
.vite-ssg-temp
dist
build
node_modules
.idea/
.vs/

*.suo
*.user
*.pdb
*.tmp
*.log


[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

*.local
*.[Pp]roduction*
appsettings.*.json
